{% extends 'bases/base.html' %}{% load static %}

{% block content %}

<div class="row my-4  bg-white">
    <div class="col col-sm-7 col-md-7 col-lg-7 col-xl-7" >
        <div id="clockdate">
            <div class="clockdate-wrapper">
                <div id="clock"></div>
                <div id="date"></div>
            </div>
        </div>
    </div>

    <div class="col col-sm-5 col-md-5 col-lg-5 col-xl-5 container " style="background-color: white; margin-bottom:5%; margin-top: 5%; text-align: center;">
        <h1 id="color" >ESCOJA LA HORA</h1 >
        {% if datos %}
            <form action="{% url 'checho:guardarCitacion' %}" method="post" >{% csrf_token %}

                <select class="form-select form-select-lg mb-3" name="hora" required style="width:70%; margin-left: auto; margin-right:auto;">

                    <option value="">Seleccione la Hora</option>
                    {% for i in datos %}
                        <option value="{{i.hora}}">{{ i.hora }}  </option>
                    {% endfor %}

                 </select><br/>

                <input type="number" hidden value="{{empleado}}" name="empleado">
                <input type="text" hidden value="{{dia}}" name="dia">
                <input type="text" hidden value="{{fecha}}" name="fecha">
                <input type="text" hidden value="{{fechaf}}" name="fechaf">
                <button type="submit" class="btn btn-info my-2">Enviar</button>

            </form>
        {% else %}
            <h1>No hay hora disponible...</h1>
        {% endif %}

    </div>
</div>

     <script type="text/javascript">
    function startTime() {
    var today = new Date();
    var hr = today.getHours();
    var min = today.getMinutes();
    var sec = today.getSeconds();
    ap = (hr < 12) ? "<span>AM</span>" : "<span>PM</span>";
    hr = (hr == 0) ? 12 : hr;
    hr = (hr > 12) ? hr - 12 : hr;
    //Add a zero in front of numbers<10
    hr = checkTime(hr);
    min = checkTime(min);
    sec = checkTime(sec);
    document.getElementById("clock").innerHTML = hr + ":" + min + ":" + sec + " " + ap;

    var months = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];
    var days = ['Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab', 'Dom'];
    var curWeekDay = days[today.getDay()];
    var curDay = today.getDate();
    var curMonth = months[today.getMonth()];
    var curYear = today.getFullYear();
    var date = curWeekDay+", "+curDay+" "+curMonth+" "+curYear;
    document.getElementById("date").innerHTML = date;

    var time = setTimeout(function(){ startTime() }, 500);
}
function checkTime(i) {
    if (i < 10) {
        i = "0" + i;
    }
    return i;
}
    </script>
    <style >

    .clockdate-wrapper {
    background-color: white;
    padding:25px;
    max-width:350px;
    width:100%;

    text-align:center;
    border-radius:5px;
    margin:0 auto;
    margin-top:12%;
    }
    #clock{
        background-color:white;
        font-family: sans-serif;
        font-size:60px;
        text-shadow:0px 0px 1px #fff;
        color:black;
    }
    #clock span {
        color:black;
        text-shadow:0px 0px 1px #333;
        font-size:30px;
        position:relative;
        top:-27px;
        left:-10px;
    }
    #date {
        letter-spacing:10px;
        font-size:14px;
        font-family:arial,sans-serif;
        color:black;
    }

    </style>
{% endblock %}